/* formattazione */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: lightgray;
}

button{
    cursor: pointer;
}

.button-xl{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: lightgray;
}

.active{
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    color: white;
}

hr{
    border: 1px solid lightgray;
}

/* header */

header{
    height: 100px;
    line-height: 100px;
    background-color: white;
    margin-bottom: 50px;
}

#logo{
    height: 80px;
    margin-left: 20px;
    vertical-align: middle;
}

#name-logo{
    font-size: 50px;
    vertical-align: middle;
    font-weight: 700;
}

/* main */

main .container{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

.container .filter{
    padding: 30px 0 15px 80px;
}

.filter button{
    margin-right: 20px;
}

.container .list{
    padding: 20px 0 20px 80px ;
}

.list ul{
    list-style: none;
    margin-bottom: 30px;
}

.list li::before{
    content: '\25BE';
    margin-right: 10px;
}

.list li{
    font-size: 30px;
    font-weight: 700;
}


