/* formattazione */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
    border: none;
}

.button-xl{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: lightgray;
}

.active{
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    color: white;
}

hr{
    border: 1px solid lightgray;
}

/* header */

header{
    height: 70px;
    background-color: white;
    padding: 5px 30px;
}

#logo{
    height: 100%;
    vertical-align: middle;
}

#name-logo{
    font-size: 50px;
    vertical-align: middle;
    font-weight: 700;
}

/* main */

main .container{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
}

.container .filter{
    padding: 30px 0 15px 80px;
}

.filter button{
    margin-right: 20px;
}

.container .todo-list{
    padding: 20px 0 20px 80px ;
}

.todo-list ul{
    list-style: none;
    margin-bottom: 30px;
}

.todo-list .argument::before{
    content: '\25BE';
    margin-right: 10px;
}

.todo-list .argument{
    font-size: 30px;
    font-weight: 700;
}

.todo-list .list{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.todo-list .list li{
   line-height: 3;
}

.todo-list .list .done::before{
    content: '\2714';
    color: green;
    border: 2px solid green;
    font-size: 15px;
    border-radius: 50%;
    padding: 3px 5px;
    margin-right: 10px;
}

.todo-list .list .failed::before{
    content: '\2717';
    color: red;
    border: 2px solid red;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 10px;
}

.list .plate {
    border: 1px solid black;
    padding: 10px;
    font-size: 10px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
}

.plate.blue{
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}

.plate.violet{
    background-color: #6718ab;
    border: 1px solid #6718ab;
}

.plate.green{
    background-color: green;
    border: 1px solid green;
}

.plate.orange{
    background-color: orange;
    border: 1px solid orange;
}

.plate.fuxia{
    background-color: fuchsia;
    border: 1px solid fuchsia;
}


